<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>任务管理页面</title>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
		<!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
		<style>
			*{
				margin: 0;
				padding: 0;
			}
			input,button{
				outline: none;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="col-lg-8">
					<form action="" class="form-inline" @submit.prevent>
						<div class="form-group">
							<input type="text" class="form-control" v-model="todo" @keyup.enter="add"/>
						</div>
						<button class="btn btn-primary" @click="add">添加</button>
					</form>
				</div>
				{{todos}}
				<div class="col-lg-12 panel panel-default">
					<div class="panel-heading clearfix">
						任务列表
						<div class="btn-group pull-right">
							<button :class="['btn', 'btn-'+(i==cur.nav?'primary':'default')]" v-for="nav,i in navs" @click="cur.nav=i">{{nav}}</button>
							<!--<button class="btn btn-default">未完成</button>
							<button class="btn btn-default">已完成</button>-->
						</div>
					</div>
					<ul class="list-group">
						<li class="list-group-item clearfix">
							<input type="checkbox" />
							<span>saa</span>
							<div class="btn-group pull-right">
								<button class="btn btn-warning">标记完成</button>
								<button class="btn btn-success">标记未完成</button>
								<button class="btn btn-danger">删除</button>
							</div>
						</li>
					</ul>
					<div class="panel-footer clearfix">
						<input type="checkbox" />
						<button class="btn btn-danger pull-right">删除所选</button>
					</div>
				</div>
				<p></p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/vue.js" ></script>
	<script type="text/javascript">
		var app = new Vue({
			el:"#app",
			data:{
				todos:[{ "id": 1, "text": "dfgd", "status": 0 }, { "id": 2, "text": "sfwef", "status": 0 }],
				todo:'',
				navs:['全部','已完成','未完成'],
				cur:{
					nav:0,
				},
			},
			methods:{
				add:function(){
					if(!this.todo.length) return;
					
					var id=1,len=this.todos.length;
					if(len) id=this.todos[len-1].id+1;
					this.todos.push({
						id:id,
						text:this.todo,
						status:0
					})
					this.todo='';
				}
			}
		})
	</script>
</html>
