<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>axios 练习</title>
	</head>
	<body>
		<div id="app"></div>
		<!-- 正常请求
		 
			this.$axios.get('purchasing_agent/apply/list',{
			params:{
				id:123
			},
			// `transformResponse` 在传递给 then/catch 前，允许修改响应数据;
			// 使用这个方法的话默认会把返回的response数据格式改了，而且返回的data为字符串
			transformResponse: [function (data) {
				// 对 data 进行任意转换处理
				console.log(data)
				return data;
			}],
		})
		.then(res => {
			console.log(res)
		})
		.catch(err => {
			console.log(err)
		}) -->
	</body>
	<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var App = {
			template:`
				<div>
					{{id}}
					<button type='button' @click='handleAjax'>发请求</button>
				</div>
			`,
			data () {
				return {
					id: '58'
				}
			},
			methods: {
				handleAjax () {
					this.$axios.defaults.baseURL = 'https://ts1.motaobox.com/tomcat/boxserver/box/';
					this.$axios.defaults.headers.common['Authorization'] = 'chen';
					this.$axios.defaults.headers.post['Content-Type'] = 'application/json';
					
					
					<!-- // 添加请求拦截器 -->
					this.$axios.interceptors.request.use(config => {
						<!-- // 在发送请求之前做些什么 -->
						console.log(config)
						var token = localStorage.getItem('token');
						if (token) {
							config.headers['token'] = token;
						}
						return config;
					},err => {
						<!-- // 对请求错误做些什么 -->
						return Promise.reject(error);
					})
					
					<!-- // 添加响应拦截器 -->
					this.$axios.interceptors.response.use(function (response) {
						<!-- // 对响应数据做点什么 -->
						if (response.data.token) {
							localStorage.setItem('token', response.data.token)
						}
						return response;
					  }, function (error) {
						<!-- // 对响应错误做点什么 -->
						return Promise.reject(error);
					  });
					
					
					this.$axios.get('purchasing_agent/apply/list')
					.then(res => {
						console.log(res)
					})
					.catch(err => {
						console.log(err)
					})
				}
			}
		}
		
		<!-- 把axios挂载到vue实例的原型上 -->
		console.log(axios);
		Vue.prototype.$axios = axios;
		
		var vm = new Vue({
			el:'#app',
			template:'<App/>',
			components:{
				App
			}
		})
	</script>
</html>
